@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkgray: #404040;
  --color-lightgray: #b4b4b4;
}

body {
  @apply antialiased text-gray-800 bg-gray-50;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}